*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
:root{
    --brandcol:#e23e38;
    --secondcol:#ffffff;
    --light1:#f1f1f1;
    --light2:#dddddd;
    --light3:#f7f7f7;
    --darkcol:#353535;
    --darkmid:#555555;
    --darklight:#777777;
    --twitter:#1da0f2;
    --overred:rgba(226, 62, 56, 0.5);
    --overdark1:rgba(0, 0, 0, 0.6);
    --overdark2:rgba(0, 0, 0, 0.8);
    --overdark3:rgba(0, 0, 0, 0.9);
    --overdark4:rgba(0, 0, 0, 0.85);
    --bg:rgba(53, 53, 53, 0.25);
    --ff1:'Oswald', sans-serif;
    --ff2:'Open Sans', sans-serif;
}
/* ================
common css ends
================== */
.osw-reg{
    font-family:var(--ff1);
    font-weight: 400;
}
.osw-med{
    font-family:var(--ff1);
    font-weight: 500;
}
.osw-bold{
    font-family:var(--ff1);
    font-weight: 700;
}
.open-reg{
    font-family:var(--ff2);
    font-weight: 400;
}
.f-13{
    font-size: 13px;
}
.f-14{
    font-size: 14px;
}
.f-16{
    font-size: 16px;
}
.f-22{
    font-size: 22px;
}
.f-29{
    font-size: 29px;
}
.f-30{
    font-size: 30px;
}
.f-40{
    font-size: 40px;
}
.f-50{
    font-size: 50px;
}
.f-60{
    font-size: 60px;
}
.col-white{
    color: var(--light1);
}
.col-brand{
    color: var(--brandcol);
}
/* ==============
font family css ends
================== */
.section-head{
    margin-top: 80px;
}
.section-head h3{
    margin-bottom: 5px !important;
    color: var(--darkcol);
}
.section-head img{
    margin-bottom: 25px;
}
/* ==============
heading css ends
================== */
.navbar{
    width: 100%;
    background: var(--bg);
    top: 30px;
    z-index: 99999;
}
.navbar .navbar-brand{
    background:rgba(241, 241, 241, 0.2);
    padding: 10PX 30PX !important;
    transform: skewX(-35deg);
    -webkit-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
}
.navbar .navbar-brand img{
    transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    -moz-transform: skewX(35deg);
    -ms-transform: skewX(35deg);
    -o-transform: skewX(35deg);
}
.navbar-light .navbar-nav .nav-item .nav-link{
    line-height: 50px;
    padding:0 10px;
    color: var(--light1);
    position: relative;
    z-index: 1;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover{
    color: var(--darkcol);
}
.navbar-light .navbar-nav .nav-item .nav-link::before{
    content: '';
    width:100%;
    height:0%;
    background: var(--secondcol);
    position: absolute;
    inset: 0;
    z-index: -2;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover::before{
    height: 100%;
}
.navbar-light .navbar-nav .nav-item .nav-link.active{
    color: var(--darkcol);
}
.navbar-light .navbar-nav .nav-item .nav-link.active::before{
    height: 100%;
}
.navbar-light .navbar-nav .nav-item .nav-link::after{
    content: '';
    width:0%;
    height:3px;
    background: var(--brandcol);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover::after{
    width: 100%;
}
.navbar-light .navbar-nav .nav-item .nav-link.active::after{
    width: 100%;
}
/* ==============
navbar css ends
================== */
#banner .banner-slider{
    position: relative;
}
#banner .banner-slider .bg1{
    background: url(../images/banner1.jpg) no-repeat center/cover;
}
#banner .banner-slider .bg2{
    background: url(../images/banner2.jpg) no-repeat center/cover;
}
#banner .banner-slider .bg3{
    background: url(../images/banner3.jpg) no-repeat center/cover;
}
#banner .banner-slider .slick-dots{
    display: flex;
    position: absolute;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin:0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#banner .banner-slider .slick-dots li{
    height: 20px;
    width: 20px;
    border: 1px solid #ffffff;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#banner .banner-slider .slick-dots li.slick-active{
    background: var(--brandcol);
    border-color: var(--brandcol);
}
#banner .banner-slider .slick-dots li:last-child{
    margin-right: 0;
}
#banner .banner-slider .slick-dots li button{
    font-size: 0;
    border: none;
    outline: none;
}
#banner .banner-slider .banner-item{
    position: relative;
    z-index: 1;
}
#banner .banner-slider .banner-item::before{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--overdark1);
    position:absolute;
    inset: 0;
    z-index: -1;
}
#banner .banner-slider .banner-item{
    padding-top: 245px;
    padding-bottom: 115px;
}
#banner .banner-slider .banner-item .container .text h3{
    color: var(--secondcol);
    padding-bottom: 5px;
    position: relative;
}
#banner .banner-slider .bg1 .container .text h3::before{
    content: '';
    height: 3px;
    width: 166px;
    background: var(--brandcol);
    position: absolute;
    top:15px;
    left:30px;
}
#banner .banner-slider .bg1  .container .text h3::after{
    content: '';
    height: 3px;
    width: 108px;
    background: var(--brandcol);
    position: absolute;
    top:15px;
    right:42px;
}
#banner .banner-slider .banner-item .container .text h2{
    padding-bottom: 10px;
    position: relative;
}
#banner .banner-slider .bg1 .container .text h2::before{
    content: '';
    height: 200px;
    width:3px;
    background: var(--brandcol);
    position: absolute;
    top:-26px;
    left:28px;
}
#banner .banner-slider .bg1 .container .text h2::after{
    content: '';
    height: 200px;
    width: 3px;
    background: var(--brandcol);
    position: absolute;
    top:-26px;
    right:41px;
}
#banner .banner-slider .banner-item .container .text p{
    color: var(--light3);
    line-height: 18px;
    position: relative;
}
#banner .banner-slider .bg1 .container .text p::before{
    content: '';
    height: 3px;
    width:87px;
    background: var(--brandcol);
    position: absolute;
    top:89px;
    left:29px;
}
#banner .banner-slider .bg1 .container .text p::after{
    content: '';
    height:3px;
    width:49px;
    background: var(--brandcol);
    position: absolute;
    top:89px;
    right:41px;
}
.bg1 p{
    padding: 0 50px;
}
.bg2 p{
    padding-left:106px;
}
.bg3 p{
    padding-right:106px;
}
#banner .banner-slider .banner-item .container .text .cta-btn{
    margin-top: 30px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#banner .banner-slider .banner-item .container .text .cta-btn:hover{
    background: var(--brandcol);
    color: var(--secondcol);
    border-color:var(--brandcol);
}
#banner .banner-slider .banner-item .container .text .cta-btn:first-of-type{
    margin-right: 26px;
}

/* ==============
banner css ends
================== */
#about{
    margin-top: 80px;
}
#about .about-image .overlay{
    background: var(--overdark1);
}
#about .about-image .overlay .icon a i{
    font-size: 56px;
    color: var(--brandcol);
}
#about .about-text h3{
    color: var(--darkcol);
}
#about .about-text img{
    margin-bottom: 16px;
}
#about .about-text p{
    line-height: 24px;
    color: var(--darklight);
    margin-bottom: 35px !important;
    padding: 0 56px;
}
#about .about-text p:last-child{
    margin-bottom: 0;
}
/* ==============
about css ends
================== */
#gallery .gallery-bg{
    padding-top: 30px;
    background: url(../images/gallery-bg.jpg) no-repeat center/cover;
    position: relative;
    z-index: 1;
}
#gallery .gallery-bg::after{
    content: '';
    width: 100%;
    height: 100%;
    background:var(--overdark2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#gallery .gallery-bg .gallery-item{
    margin-bottom: 30px;
}
#gallery .gallery-bg .gallery-item  .overlay{
    background: var(--overred);
    border:5px solid rgba(234, 232, 201, 0.5);
    visibility: hidden;
    opacity: 0;
    transform: scale(.95);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
}
#gallery .gallery-bg .gallery-item:hover .overlay{
    opacity: 1;
    visibility: visible;
}
#gallery .gallery-bg .gallery-item  .overlay a i{
    font-size: 30px;
    color: var(--secondcol);
}
/* ==============
gallery css ends
================== */
#team .team-item{
    margin-top: 65px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#team .team-item:hover{
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}
#team .team-item .team-img .overlay{
    background: var(--overred);
    border: 5px solid rgba(238, 238, 238, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#team .team-item:hover .team-img .overlay{
    opacity: 1;
    visibility: visible;
}
#team .team-item .team-img .overlay a{
    margin-right: 10px;
    margin-bottom: 10px;
}
#team .team-item .team-img .overlay a i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#team .team-item .team-img .overlay a:hover i{
    background: var(--secondcol);
    color: var(--twitter);
}
#team .team-item:hover .card{
    border: 1px solid #dddddd !important;
}
#team .team-item .card-body h5{
    color: var(--darkcol);
    padding-top: 20px;
}
#team .team-item .card-body h6{
    color: var(--darkmid);
    padding-top: 10px;
    padding-bottom: 16px;
}
#team .team-item .card-body p{
    color: var(--darklight);
    line-height: 18px;
    padding: 0 22px;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#team .team-item:hover .card-body p{
    opacity: 1;
    visibility: visible;
}
/* ==============
team css ends
================== */
#testimonial .testimonial-banner{
    padding:30px 0px 80px 0px ;
    background: url(../images/testimonial-bg.jpg) no-repeat center/cover;
    z-index: 1;
}
#testimonial .testimonial-banner::after{
    content: '';
    height: 100%;
    width: 100%;
    background: var(--overdark2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#testimonial .testimonial-banner .testimonial-slider .testimonial-item{
    margin-right: 30px;
}
/* #testimonial .testimonial-banner .testimonial-slider .testimonial-item:last-of-type{
    margin-right: 0px;
} */
#testimonial .testimonial-banner .testimonial-slider{
    position: relative;
}
/* #testimonial .testimonial-item .testimonial-image{
    margin-right: 10px;
} */
#testimonial .testimonial-item .testimonial-about h3{
    color: var(--secondcol);
}
#testimonial .testimonial-item .testimonial-about h4{
    color: var(--secondcol);
    padding: 8px 0;
}
#testimonial .testimonial-item .testimonial-about .ratings i{
    color: var(--brandcol);
}
#testimonial .testimonial-item .testimonial-text p{
    color: var(--light1);
    line-height: 18px;
    /* padding: 10px 30px 0px 0px; */
}
#testimonial .testimonial-slider .slick-dots{
    display: flex;
    position: absolute;
    bottom:-50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin:0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#testimonial .testimonial-slider .slick-dots li{
    height: 16px;
    width: 16px;
    border: 1px solid #ffffff;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#testimonial .testimonial-slider .slick-dots li.slick-active{
    background: var(--brandcol);
    border-color: var(--brandcol);
}
#testimonial .testimonial-slider .slick-dots li:last-child{
    margin-right: 0;
}
#testimonial .testimonial-slider .slick-dots li button{
    font-size: 0;
    border: none;
    outline: none;
}
/* ==============
testimonial css ends
================== */
#membership{
    padding-bottom: 80px;
} 
.bg1{
    background: url(../images/member1.jpg) no-repeat center/ cover;
}
.bg2{
    background: url(../images/member2.jpg) no-repeat center/ cover;
}
.bg3{
    background: url(../images/member3.jpg) no-repeat center/ cover;
}
#membership .member-item .member-head{
    background: var(--light2);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#membership .member-item:hover .member-head{
    background: var(--brandcol);
}
#membership .member-item .member-head h4{
    color: var(--darkcol);
    padding: 20px 0px;
}
#membership .member-item .member-price{
    padding: 35px 0;
    position: relative;
    z-index: 1;
}
#membership .member-item .member-price::after{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--overdark2);
    position: absolute;
    inset: 0;
    z-index: -1;
}
#membership .member-item .member-price h3{
    color: var(--secondcol);
}
#membership .member-item .member-details h5{
    background: var(--light1);
    color: var(--darkmid);
    padding-top: 25px;
}
#membership .member-item .member-details h5:first-child{
    padding-top: 40px;
}
#membership .member-item .member-details h5:last-child{
    padding-bottom: 40px;
}
#membership .member-item .member-btn{
    background: var(--light2);
}
#membership .member-item .member-btn .cta-btn{
    color: var(--darkcol);
    padding: 5px 0 !important;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#membership .member-item:hover .member-btn .cta-btn{
    background: var(--brandcol);
}

/* ==============
membership css ends
================== */
#funfact{
    background: url(../images/counter-bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 40px;
}

#funfact::after{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--overdark3);
    position: absolute;
    inset: 0;
    z-index: -1;
}
/* ==============
funfact css ends
================== */
#routine{
    padding-bottom: 80px;
}
#routine .nav-tabs .nav-item.show .nav-link,
#routine .nav-tabs .nav-item .nav-link:hover,
#routine  .nav-tabs .nav-link.active{
    border-color:  transparent !important;
}

#routine .nav-tabs .nav-item{
    width: 16.66%;
}
#routine .nav-tabs .nav-item .nav-link{
    background: var(--light1);
    line-height: 50px;
    color: var(--darkcol);
}

#routine  .nav-tabs .nav-link.active{
    background: var(--brandcol);
    color: #fff;
}

#routine .main-routine{
    margin-top: 30px;
}

#routine .main-routine ul li{
    width: 20%;
    background: var(--light1);
    padding-top: 50px;
    padding-bottom: 50px;
    transform: scale(.99);
}

#routine .main-routine ul li.active{
    background: var(--brandcol);
    color: #fff;
}
/* ==============
routine css ends
================== */
#brand{
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
}
#brand .brand-item{
    margin: 0 15px;
}

#brand .slick-list{
    padding: 5px !important;
}

#brand .brand-item.slick-center{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#brand .prev-arrow{
    color: var(--darkcol);
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    transition: all linear 0.4s;
}

#brand .prev-arrow:hover{
    color: var(--brandcol);
}

#brand .next-arrow{
    color: var(--darkcol);
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    transition: all linear 0.4s;
}

#brand .next-arrow:hover{
    color: var(--brandcol);
}

/* ==============
brand css ends
================== */
footer{
    background: url(../images/footer-bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}

footer::before{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--overdark4);
    position: absolute;
    inset: 0;
    z-index: -1;
}

footer .footer-logo{
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .footer-main{
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 30px;
    padding-bottom: 25px;
}

/* footer .footer-main::before{
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
} */

footer .footer-item h5{
    margin-bottom: 30px !important;
} 

footer .footer-item .opening-hours li{
    margin-bottom: 5px !important;
}

footer .footer-item .opening-hours li:last-child{
    margin-bottom: 0 !important;
}

footer .footer-item .opening-hours li span{
    display: inline-block;
    width: 105px;
}

footer .footer-item .twiiter-feed li{
    margin-bottom: 30px;
    position: relative;
    padding-left: 28px;
}

footer .footer-item .twiiter-feed li:last-child{
    margin-bottom: 0 !important;
}

footer .footer-item .twiiter-feed li .icon{
    position: absolute;
    left: 0;
    top: 0;
}

footer .footer-item .twiiter-feed li .icon i{
    color: var(--twitter);
    font-size: 20px;
}

footer .footer-item .footer-gallery li{
    width: 25%;
    padding: 5px;
}

footer .footer-item .footer-gallery li img{
    width: 100%;
}


footer .footer-item .footer-contact{
    margin-bottom: 30px !important;
}

footer .footer-item .footer-contact li{
    position: relative;
    margin-bottom: 20px !important;
    padding-left: 25px;
}

footer .footer-item .footer-contact li:last-child{
    margin-bottom: 0 !important;
}

footer .footer-item .footer-contact li .contact-icon{
    position: absolute;
    left: 0;
    top: 0;
}

footer .footer-item .footer-contact li .contact-icon i{
    color: var(--brandcol);

}

footer .footer-item .footer-social a.btn{
    margin-right: 6px;
    transition: all linear 0.4s;
}

footer .btn-outline-light:focus , 
footer .btn:focus{
    box-shadow: none !important;
}

footer .footer-item .footer-social a.btn:last-of-type{
    margin-right: 0;
}

footer .footer-item .footer-social a.btn:hover{
    border-color: var(--brandcol);
    background-color: var(--brandcol);
}

footer .footer-item .footer-social i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: all linear 0.4s;
}

footer .footer-item .footer-social a.btn:hover i{
    color: #fff;

}

footer .footer-copy .copyright p{
    line-height: 53px;
}

footer .footer-copy .copyright p a{
    color: var(--brandcol);
}

/* ==============
footer css ends
================== */
